.packages .package {width:144px; margin-right: 10px; position:relative; text-align:center; float:left;}

.packages .package .features {padding:0 0 20px;}
.packages .package .features .feature {padding:0 20px;}
.packages .package .features img {width:55px; height:45px;}
.packages .package .features span {display:block; margin-bottom:25px; font-size:12px; padding-top: 5px;}

.packages .update .info,
.packages .update .info h2 {background-color:#99b0d9}
.packages .update .top {background-color:#37549d; height:20px; margin-bottom: 15px; color:white;}
.packages .update .bottom {background-color:#37549d; height:20px;}
.packages .update .feature-express {background-color:#ccde89;}

.packages .asset-creation .info,
.packages .asset-creation .info h2 {background-color:#87c742;}
.packages .asset-creation .top {background-color:#267904; height:20px; margin-bottom: 15px; color:white;}
.packages .asset-creation .bottom {background-color:#267904; height:20px;}
.packages .asset-creation .feature-express {background-color:#c4e5f8;}
